$background-color:  #DDDDDD;
$font-color:        #112211;

// header,
// footer,
// div {
//   border: 1px solid white;
// }

* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

html {
  font-size: 15px;
}

@media (min-resolution: 192dpi),
(-webkit-min-device-pixel-ratio: 2),
(min--moz-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
  html {
    font-size: 30px;
  }
}

@media (-webkit-min-device-pixel-ratio: 3),
(min--moz-device-pixel-ratio: 3),
(-o-min-device-pixel-ratio: 3/1),
(min-device-pixel-ratio: 3),
(min-resolution: 3dppx) {
  html {
    font-size: 40px;
  }
}

body {
  display: flex;
  flex-flow: column nowrap;
  background: $background-color;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: $font-color;
}

#results-and-content {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  overflow: hidden;

  #results {
    display: flex;
    flex-flow: column nowrap;
    flex: none;
    height: 100%;
    width: 25em;
    padding: 0 1em;

    h1 {
      flex: none;
    }

    #search-form {
      width: 100%;

      #wiki-search {
        width: 100%;
        font-size: 1.25em;
        border-radius: 5px;
        padding: .25em .5em;
      }
    }

    #results-list {
      flex: 1;
      list-style: none;
      display: flex;
      flex-flow: column nowrap;
      overflow-y: auto;
      padding: 0;

      li {

        .card {
          border: 1px solid #000;
          margin: 0 1em 1.5em;
          padding: 1em;
          background-color: white;
          cursor: pointer;

          &[selected] {
            background-color: blue;
            color: white;
          }

          &:hover {
            box-shadow: -.5em 0 blue;
          }

          h1 {
            margin: 0 0 1rem;
          }

          p {
            margin: 0;
          }
        }
      }
    }

    #random {
      flex: none;
      cursor: pointer;
    }
  }

  #content-container {
    flex: 1;
    overflow: auto;
    height: 100%;
    padding: 0;
    margin: 0;

    #content {
      height: 100%;
      width: 100%;
      margin: -.25em;
      padding: 0;
    }
  }
}

footer {
  display: flex;
  flex-flow: row nowrap;
  padding: .5em 2em;

   #copyright {
     flex: 1;
   }

   #footer-link {
     flex: none;

     &:hover {
       color: #eee;
     }
  }
}
